{% extends "layout.html" %}
{% load course_extras %}
{% load bootstrap4 %}

{% block title %}{{ question|default:"New Answer" }} | {{ question.quiz.course.title }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'courses:detail' pk=question.quiz.course.pk %}">{{ question.quiz.course.title }}</a></li>
  <li><a href="{% url 'courses:quiz' course_pk=question.quiz.course.pk step_pk=question.quiz.pk %}">{{ question.quiz.title }}</a></li>
  <li>{{ question.prompt }}</li>
{% endblock %}

{% block content %}
  <div class="columns">
    {{ block.super }}
  </div>
  <div class="columns">
    <h1>Answers</h1>
    <form class="" action="" method="post">
      {% csrf_token %}
      <section>
        {% bootstrap_formset formset %}
      </section>
      <input type="submit" class="btn btn-dark" name="" value="Save">
    </form>
  </div>
{% endblock %}
