{% extends "layout.html" %}
{% load course_extras %}

{% block title %}{{ step.title }} | {{ step.course.title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'courses:detail' pk=step.course.pk %}">{{ step.course.title }}</a></li>
{% endblock %}

{% block content %}
  <div class="row columns container">
    <article>
        {{ block.super }}
        <h1>{{step.title}}</h1>
        Quiz questions here
    </article>

    {% if user.is_authenticated %}
      <hr>
      <a href="{% url 'edit_quiz' course_pk=step.course.pk quiz_pk=step.pk %}" class="btn btn-dark">Edit</a>
    {% endif %}

  </div>
{% endblock %}
