{% extends "layout.html" %}

{% block title %}{{ form.instance.title|default:"New Quiz"}} | {{ course.title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></li>
{% endblock %}

{% block content %}
  <div class="row columns">
    {{ block.super }}
    <h1>{{ form.instance.title|default:"Make a new quiz"}}</h1>
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn=dark" name="" value="Save">
    </form>
  </div>
{% endblock %}
