{% extends "layout.html" %}
{% load bootstrap4 %}

{% block title %}Registration!{% endblock %}

{% block content %}
<div class="col-md-6 container table-bordered rounded">
    <div class="mb-3 row justify-content-center bg-dark text-light pt-2 rounded"><h3>Registration</h3></div>    
    <form method="POST">
         {% csrf_token %}
         {% bootstrap_form form %}
         <button type="submit" class="btn btn-dark btn-block mb-2">Register</button>
    </form>
</div>     
{% endblock content %}